   <div id="details">

    {{#with game}}
    <div class="details-list">
      <div class="details-text">
        <h3>Title: {{title}}</h3>
        <p>Release: {{release}}</p>
        <p>Description: {{description}}</p>
        <p>Metacritic: {{metacritic}}</p>
        <p>Genres: {{genres}}</p>
        <p>Platforms: {{platforms}}</p>
        </div>

        <div class="details-img">
        <img src="{{image}}" alt="test" class="detail-image"/>
        </div>
    {{/with}}

 {{#with game}}
        <div class="details-video">
        <iframe width="550" height="400" 
        src="{{video}}" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        {{/with}}

{{#with game}}
      <div class="details-button">  
        <a href="/dashboard">
        <button>Back to Dashboard</button>
        </a>       
            <a href="/dashboard/{{_id}}/edit">
        <button>Edit</button>
        </a>
          </div>
          {{/with}}

</div>
</div>
