<h1 id="games-list-title">Your Games!</h1>
 <div id="list">

  {{#each creates}}
    <div class="list-games">
      <img src="{{image}}" alt="test"/>
      <div class="title-button">
        <h3>{{title}}</h3>
        <a href="/Dashboard/{{"title"}}"><button>See details</button></a>
      </div>
    </div>
  {{/each}}
</div>







  <!--<div class="abutton-dash">
        <a href="{{title}}/edit"><button>Edit</button></a>
        <div class="button-dash">
        <form action="{{title}}/delete" method="POST">
        <button>Delete</button>-->