   <div id="details">

    {{#with game}}

    <div class="details-list">

        <div class="details-text">
        <h3>{{title}}</h3>
        <p>Release: {{release}}</p>
        <p>Description: {{description}}</p>
        <p>Metacritic: {{metacritic}}</p>
        <p>Genres: {{genres}}</p>
        <p>Platforms: {{platforms}}</p>
        </div>

        <div class="details-img">
        <img src="{{image}}" alt="test" class="detail-image"/>
        </div>



        <div class="details-button">
         <a href="{{title}}/edit"><button>Edit</button></a>
        <form action="{{title}}/delete" method="POST">
        <button>Delete</button>
        </form>
         <a href="/browse">Back</a>
         </div>

       

    {{/with}}
</div>
<!--<hr>-->
 {{#with game}}
        <div class="details-video">
        <iframe width="300" height="300" 
        src="{{video}}" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        {{/with}}
</div>








<!--
    When we're sending the game into the .hbs file, we then need to use
{{game.title}} {{game.description}} etc.
To prevent always writinge game.blabla, we use #with
 -->

         <!--<div>-->